. {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  /* forwork */

  background-color: #fff;
}
.navigation {
  display: flex;
  padding-block: 0.5rem;
  padding-inline: 2.5rem;
  justify-content: space-between;
  border-bottom: 3px solid;
  /* forwork */
  /* background-color: aquamarine; */
}
.navigation > .navigation__menu-group {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  /* for work */
}
.navigation__menu-group.navigation__menu-group-left {
  gap: 30px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

.navigation__menu-group.navigation__menu-group-right {
  margin: 15px;
  font-size: 18px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navigation > * {
  /* background-color: bisque; */
}
.section-hero {
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.section-hero__top {
  list-style: none;
  text-align: center;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  margin: 0px;
  padding: 0px;
}
.section-hero__top__Abstract {
  font-size: 6.5625rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.section-hero__top__Helppage {
  font-size: 1.5625rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin: 0;
  font-style: normal;
}
.abstract_link > * {
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  text-decoration: underline;
  display: flex;
  gap: 20px;
  justify-content: center;
  /* 글자에 밑줄 */
}
.section-hero__bottom {
  display: flex;
  list-style: none;
  font-family: "Archivo", sans-serif;
  justify-content: center;
}
.left {
  width: 400px;
  padding: 0px 16px 24px;
  list-style: circle;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid;
}
.recreate_this_to_learn_1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.middle {
  width: 400px;
  padding: 0px 16px 24px;
  list-style: circle;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  border: 3px solid;
}
.color_palette {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.color_palette_list {
}
.right {
  width: 400px;
  padding: 0px 16px 24px;
  list-style: circle;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  text-decoration: underline;
  line-height: 1.5;
  border: 3px solid;
}
.Recources {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.ref-img {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-top: 3.125rem;
  text-align: center;
  border-top: solid 0.1875rem;
}
