. {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  /* forwork */

  background-color: #fff;
  border: solid 2px;
}
.navigation {
  display: flex;
  padding-block: 0.5rem;
  padding-inline: 2.5rem;
  justify-content: space-between;
  border-bottom: 3px solid;
  /* forwork */
  /* background-color: aquamarine; */
}
.navigation > .navigation__menu-group {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  /* for work */
}
.navigation__menu-group.navigation__menu-group-left {
  gap: 30px;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
}

.navigation__menu-group.navigation__menu-group-right {
  margin: 15px;
  font-size: 18px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navigation > * {
  /* background-color: bisque; */
}
.section-hero {
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.section-hero__top {
  list-style: none;
  text-align: center;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  margin: 0px;
  padding: 0px;
}
.section-hero__top__Abstract {
  font-size: 6.5625rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.section-hero__top__Helppage {
  font-size: 1.5625rem;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  margin: 0;
  font-style: normal;
}
.abstract_link > * {
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  text-decoration: underline;
  display: flex;
  gap: 20px;
  justify-content: center;
  /* 글자에 밑줄 */
}

.section-hero__bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.section-hero__bottom > * {
  width: 25rem;
  height: 12.5rem;
  border: solid 2px;
  padding: 0px 16px 24px;
  margin: 0;
}
.left {
  list-style: circle;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}
.section-hero__bottom-title {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  text-align: center;
  list-style: none;
}

.middle {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px; /* 적절한 간격 설정 */
}
.color-1 {
  background-color: #4c5fd5;
}

.color-2 {
  background-color: #dadbf1;
}

.color-3 {
  background-color: #000000;
}

.color-4 {
  background-color: #fff;
}
.middle .section-hero__bottom-title {
  flex-basis: 100%;
  text-align: center;
}
.middle ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.middle li {
  flex: 0 1 50%;
  text-align: center;
  width: 100px;
  height: 30px;
}
.right {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
  text-decoration: underline;
}

.ref-img {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  padding: 3.125rem;
  text-align: center;
  border-left: 2px solid;
}
.section2 {
  padding: 50px; /* 패딩 값 추가 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blackbox,
.graybox,
.whitebox {
}

.blackbox > *,
.graybox > *,
.whitebox > * {
  width: 250px;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  list-style: none;
  padding: 25px; /* 내부 패딩 값 추가 */
  margin-right: 20px;
}
.graybox.section-hero__bottom-title {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.section-hero__bottom-title {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  list-style: none;
}

.blackbox > *,
.graybox > *,
.whitebox > * {
  color: #fff; /* 글자 색상 변경 */
}
.blackbox > * {
  background-color: black;
}
.graybox > * {
  background-color: #494949; /* 회색 상자 배경색 변경 */
}

.whitebox > * {
  background-color: #fff; /* 흰색 상자 배경색 변경 */
  color: black; /* 글자 색상 변경 */
  border: 2px solid;
}

.footer {
  display: flex;
  padding-block: 2.5rem;
  padding-inline: 30px;
  flex-direction: column;
  background-color: black;
  color: #fff;
  align-items: center;
}
.footer > .footer__top {
  list-style: none;
  padding-bottom: 1rem;
}
.footer > .footer__menu-group {
  display: flex;
  gap: 40px;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
