@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-style: normal;
}

.container {
  padding: 0.75rem;
  margin-inline: auto;
}

.navigation {
  font-weight: 800;
  font-style: normal;
  background-color: #f6f6eb;
  color: #381fd1;
  padding: 16px;
  margin: 0;
}
.navigation--left {
  list-style-type: none;
  margin-block: 0;
  padding: 0px;
  list-style: none;
}
.navigation--right {
  list-style-type: none;
  align-items: center;
  margin-block: 0;
  list-style: none;
  padding: 0;
}
.navigation--logo {
  box: 32px;
  background-color: #381fd1;
}
.navigation--box {
  border-radius: 0.25rem;
  background-color: #381fd1;
  color: #f6f6eb;
  padding-inline: 8px;
}

.sidebar {
  color: #4b4b4e;
  padding-left: 1.25rem;
  padding-block: 1rem;
  font-weight: 700;
  list-style-type: none;
}
.sidebar__search-input {
  border-radius: 0.25rem;
  padding-inline: 40px 16px;
  box-sizing: 220 40;
  background-color: #fff;
  border: 2px solid #89898c;
}

.sidebar > li {
  padding-left: 1.25rem;
  padding-block: 1rem;
}

.purplebox {
  background-color: #f3f2fc;
  padding: 24px;
  border-radius: 6px;
}
.purplebox__top {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
  color: #11284b;
}
.purplebox__middle {
  font-size: 12px;
  padding-block: 8px 16px;
}
.purplebox__bottom {
  border-radius: 0.25rem;
  background-color: #381fd1;
  color: #f6f6eb;
  padding: 8px 16px;
}

.title {
  padding-top: 64px;
}
.title__top {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.title__top--left {
  font-size: 48px;
  font-weight: bold;
}
.title__top--right {
  font-size: 16px;
  font-weight: 700;
  color: #381fd1;
  text-decoration: underline;
}
.title__bottom {
  font-size: 20px;
  padding-left: 40px;
  padding-bottom: 24px;
}

.card {
  grid-column: 2/-4;
  grid-row: 2/-1;
  padding-inline: 24px;
  padding-block: 40px;
  font-size: 16px;
  border: #4b4b4e 1px solid;
  border-radius: 0.25rem;
}
.card__top--img {
  max-width: 40px;
}
.card__middle {
  color: #381fd1;
}
.card__bottom {
  font-size: 24px;
  font-weight: 700;
}

.card2 {
  padding: 32px;
  font-size: 24px;
  font-weight: 700;
  background-color: #f3f2fc;
}

.footer {
  font-size: 14px;
  font-weight: 700;
  background-color: #11284b;
  color: #f3f2fc;
  padding-inline: 24px;
}