* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  // max-width: 1300px;

  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 1.75rem;
  font-style: normal;
}
.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6eb;
  padding: 16px;
  color: #381fd1;
  font-size: 14px;
  font-weight: 700;
  &-logo {
    background-color: #381fd1;
    width: 20px;
  }

  &-left {
    list-style-type: none;
    display: flex;
    padding-inline: 8px;
    gap: 20px;
  }
  &-right {
    display: flex;
    gap: 20px;
    list-style-type: none;
    &-box {
      background-color: #381fd1;
      border-radius: 0.25rem;
      color: #f6f6eb;
      padding-inline: 8px;
    }
  }
}
.grid1 {
  max-width: 1300px;
  padding-inline: 24px;
  padding-top: 64px;
  margin: 0 auto;
}
.button {
  padding: 8px;
}

.button_img {
  width: 25 px; /* Adjust icon size as needed */
  height: 25px;
  margin-left: 5px;
  margin-block: 10px 3px;
}
.sidebar {
  background-color: #ffffff;
  font-weight: 500;

  &_searchbox {
    border: 2px solid #ccc; /* 테두리를 지정합니다. */
    border-radius: 5px;
  }

  &_box {
    padding-left: 20px;
    padding-block: 16px;
  }
  &_purple {
    background-color: #f3f2fc;
    border-radius: 0.25rem;
    padding: 24px;
    &-title {
      font-size: 24px;
      font-weight: 700;
      color: #11284b;
    }
    &-text {
      font-size: 16px;
      padding-block: 8px 24px;
    }
    &-button {
      background-color: #381fd1;
      font-size: 16px;
      color: #ffffff;
      padding-block: 6px;
      padding-inline: 16px;
      border-radius: 0.25rem;
      text-align: center;
    }
  }
}
.title1 {
  margin-inline: auto;
  &_top {
    display: flex;
    justify-content: space-between;
    &-left {
      font-size: 48px;
      font-weight: 900;
      letter-spacing: -3px;
      color: #11284b;
    }
    &-right {
      color: #381fd1;
      text-decoration: underline;
      font-weight: 600;
      padding-top: 20px;
    }
  }
  &_bottom {
    font-size: 20px;
    padding-bottom: 24px;
  }
}
.text1 {
  &_box {
    padding-inline: 24px;
    padding-block: 40px;
    font-size: 16px;
    border: #f3f2fc 2px solid;
    border-radius: 6px;
    &-img {
      max-width: 40px;
    }
    &-middle {
      color: #381fd1;
      font-weight: 500;
    }
    &-bottom {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
.title2 {
  padding-top: 64px;
  &_top {
    display: flex;
    justify-content: space-between;
    &-left {
      font-size: 48px;
      font-weight: 900;
      letter-spacing: -3px;
      color: #11284b;
    }
    &-right {
      color: #381fd1;
      text-decoration: underline;
      font-weight: 600;
      padding-top: 20px;
      font-size: 18px;
    }
  }
  &_bottom {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.image-container {
  position: relative; /* 자식 요소들에 대한 상대적인 위치 설정을 위해 부모 요소를 상대적으로 지정합니다. */
  width: 100%; /* 이미지 컨테이너의 너비를 설정합니다. */
  max-width: 500px; /* 이미지 컨테이너의 최대 너비를 설정합니다. */
}
.text-overlay {
  position: absolute; /* 절대 위치로 설정하여 이미지에 겹쳐지도록 합니다. */
  top: 50%; /* 상단 여백을 50%로 설정합니다. */
  left: 50%; /* 좌측 여백을 50%로 설정합니다. */
  transform: translate(-50%, -50%); /* 가운데 정렬을 위해 사용됩니다. */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* 텍스트 배경색과 투명도를 설정합니다. */
  padding: 10px; /* 텍스트 주위에 여백을 설정합니다. */
  font-size: 18px; /* 텍스트의 크기를 설정합니다. */
  color: black; /* 텍스트 색상을 설정합니다. */
}
.text2 {
  padding-bottom: 64px;
  &_box1 {
    // background-color: #f6f6eb;
    border-radius: 0.25rem;
    max-width: 259.4px;
    position: relative;
    &-title {
      // padding-inline: 32px;
      // padding-top: 32px;
      font-size: 24px;
      font-weight: 700;
      position: absolute; /* 절대 위치로 설정하여 이미지에 겹쳐지도록 합니다. */
      top: 20%; /* 상단 여백을 50%로 설정합니다. */
      left: 50%; /* 좌측 여백을 50%로 설정합니다. */
      transform: translate(-50%, -50%); /* 가운데 정렬을 위해 사용됩니다. */
      padding: 34px; /* 텍스트 주위에 여백을 설정합니다. */
      font-size: 24px; /* 텍스트의 크기를 설정합니다. */
      color: black; /* 텍스트 색상을 설정합니다. */
    }
    &-img {
      border-radius: 0.25rem;
      max-width: 259.4px;
    }
  }
  &_box2 {
    background-color: #f3f2fc;
    border-radius: 0.25rem;
    max-width: 259.4px;
    max-height: 334px;
    &-title {
      padding: 34px;
      font-size: 24px;
      font-weight: 700;
    }
    &-img {
      max-width: 259.4px;
    }
  }
  &_box3 {
    background-color: #f6f6eb;
    border-radius: 0.25rem;
    max-width: 259.4px;
    max-height: 334px;
    &-title {
      padding: 34px;
      font-size: 24px;
      font-weight: 700;
    }
    &-img {
      max-width: 259.4px;
    }
  }
}
.footer__container {
  display: flex;
  justify-content: center; /* 가운데 정렬을 적용합니다. */
  background-color: #11284b;
}
.footer {
  font-size: 14px;
  font-weight: 700;
  background-color: #11284b;
  color: #f3f2fc;
  padding-top: 80px;
  margin-top: 96px;
  &__card {
    &-title {
      padding-bottom: 8px;
    }
  }
  &__bottom {
    padding-bottom: 80px;
    &-right {
      font-size: 16px;
      color: #fedb63;
      letter-spacing: 1px;
    }
  }
}
.logos {
  &_1 {
    max-width: 32px;
  }
}
