*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.btn {
  cursor: pointer;
  max-width: fit-content; //
  padding-inline: 1rem;
  padding-block: 8px 6px;
  font-size: 0.875rem;
  line-height: 14px;
  text-transform: capitalize;
  background-color: oklch(0.4 0.1 150);
  color: oklch(0.9 0.1 150);
  border-radius: 64rem;
  //for dec
  margin-top: 20px;
  transition: all 300ms ease-out; //처음과 끝을 지정할 수 있는데 중간은 지정할 수 없음

  &:hover {
    background-color: oklch(0.4 0.1 240);
    color: oklch(0.9 0.1 150);
    transition: all 300ms ease-out;
  }
  &--type {
    &-elevated {
      background-color: oklch(0.95 0.005 150);
      color: oklch(0.45 0.1 150);
      box-shadow: 0rem 0.25rem 0.25rem 0rem oklch(0.75 0 150);
      &:hover {
        background-color: oklch(0.95 0.005 150);
        color: oklch(0.45 0.1 240);
        box-shadow: 0rem 0.125rem 0.125rem 0rem oklch(0.75 0 150);
      }
    }
    &-tonal {
      background-color: oklch(0.8 0.1 150);
      color: oklch(0.3 0.05 150);
    }
    &-outline {
      background-color: unset;
      color: oklch(0.4 0.1 150);
      border: 1px solid oklch(0.5 0 150);
    }
    &-text {
      padding-inline: 12px;
      background-color: unset;
      color: oklch(0.4 0.1 150);
      &:hover {
        background-color: unset;
        color: oklch(1 0 150);
        animation-name: rainbow;
        animation-duration: 500ms;
        animation-fill-mode: both;
      }
    }
  }
}
@keyframes rainbow {
  0% {
    background-color: oklch(0.5 0.2 0);
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(1rem, 0rem);
  }
  50% {
    transform: translate(1rem, 1rem);
  }
  75% {
    transform: translate(0rem, 1rem);
  }
  100% {
    background-color: oklch(0.5 0.2 240);
    transform: translate(0rem, 0rem);
  }
}
