* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
img {
  display: block;
  /* width: 100%;
  height: 100%; */
}
body {
  margin: 0;
  background-color: #191a1b;
  /* font-family: "noto sans", "sans-serif"; */
}
.container {
  max-width: 90rem;
  margin-inline: auto;
}

.helpcenter {
  background-color: black;
  padding-inline: 1.875rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 6.1875rem;
  padding-block: 1.1875rem;
}

.helpcenter > .helpcenter__menu-group {
  display: flex;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
  gap: 0.8rem;
  font-size: 1.375rem;
  align-items: center;
  color: white;
}
.menu-group-right {
  gap: 1rem;
}
.title {
  font-weight: 500;
}
.subtitle {
  border-left: 2px solid #ffffff;
  padding-left: 0.8rem;
}
.btn__submit {
  border: 1px solid #ffffff;
  border-radius: 8px 8px 8px 8px;
  background-color: #191a1b;
  padding-inline: 1.375rem;
  padding-block: 0.625rem;
}
.btn__sign-in {
  border-radius: 8px 8px 8px 8px;
  background-color: #4c5fd5;
  padding-inline: 2rem;
  padding-block: 0.625rem;
  margin-left: 0.375rem;
}
.layout {
  background-color: #dadbf1;
  padding: 5.625rem 1.875rem 7.1875rem 1.875rem;
}
.section-hero {
  font-size: 4.6875rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.layout > .section-search {
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding-block: 1rem;
  padding-inline: 1rem;
  max-width: 45rem;
  font-size: 30px;
  margin: auto;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 9px 14px 0px;
  color: rgba(0, 0, 0, 0.1);
}
/* .section-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  max-width: 45rem;
  font-size: 1.25rem;
  margin: auto;
} */
.section-search-contents {
  color: #969696;
  margin: 0px;
  padding: 0px;
  font-size: 1.25rem;
}
.section-search-arrow {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}
.contents {
  background-color: #ffffff;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.main__conetents {
  /* background-color: rgb(255, 255, 255); */
  /* padding-block: 8rem; */
  margin-bottom: 4rem;
  padding-inline: 8.6875rem;
  display: flex;
}
.contents-list-block {
  font-size: 1.5rem;
  float: left;
  padding-right: 2.5rem;
}
.contents-list-icon {
  margin-right: 1.875rem;
  float: left;
  display: inline-block;
}

.contents-list-title {
  font-weight: 600;
  margin-bottom: 1rem;
}
.contents-list-text {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}
.contents-list-link {
  font-size: 1.25rem;
  color: #4c5fd5;
}
.contens-list-item {
  flex-basis: 0;
  flex-grow: 1;
}
.section-footer {
  background-color: #000000;
  display: flex;
  padding-inline: 2.5rem;
  max-width: 90rem;
  margin-inline: auto;
}
.footer-contents {
  color: #ffffff;
  padding-inline: 3rem;
}
.footer-contents-title {
  font-weight: 700;
  font-size: 1.4375rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-top: 3rem;
  padding-inline: 0px;
}
.footer-contents-list {
  font-size: 0.9375rem;
  padding-inline: 0px;
  line-height: 1.5rem;
}
.footer-contents-list-bot {
  font-size: 1.125rem;
  line-height: 1.7rem;
}
.footer-contents-bot-right {
  padding-bottom: 3.75rem;
  padding-top: 12rem;
  padding-left: 12rem;
}
