@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card.card--color-blue {
  background-color: oklch(98% 0.025 200);
} /*특정하는 정도가 올라감, 순서를 무시하고 적용을 함*/

img {
  max-width: 100%;
}

.card:first-child {
  margin-top: 0;
}

.card {
  max-width: 25rem;
  background-color: oklch(98% 0.025 90);
  margin-top: 2.5rem;
  overflow-x: hidden;
  border-radius: 0.75rem;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.card__img {
  width: 100%;
}
.card__top {
  padding-inline: 1rem;
  padding-block: 0.75rem;
}

.card__bottom {
  padding: 1rem;
}
.card__p {
  margin-top: 2rem;
}
.card__title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.card__subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
}
.card__bottom .card__title {
  font-weight: 400;
}

.card__bottom .card__subtitle {
  margin-top: 0;
}
