* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  &__menu-group {
    display: flex;
    align-items: center;
    &--left {
      gap: 0.8125rem;
    }
    &--right {
      gap: 1rem;
      @media (width < 900px) {
        & {
          & {
            display: none;
          }
        }
      }
    }
  }
  &__logo {
    height: 2rem;
    line-height: 2.25rem;
    aspect-ratio: 200 / 51;
  }
  &__page-title {
    margin-top: 3px;
    padding-top: 3px;
    padding-left: 0.8125rem;
    line-height: 1.4375rem;
    border-left: 0.125rem solid #fff;
  }
  &__btn {
    padding-inline: 1.4375rem;
    padding-block: 0.4375rem;
    border-radius: 8px;
    &--outline {
      border: 1px solid #fff;
      background-color: #191a1b;
    }
    &--fill {
      background-color: #515fcb;
    }
  }
}
.hero {
  background-color: #dadbee;
  padding-inline: 30px;
  padding-block: 80px 115px;
  &__container {
    width: 90%;
    margin-inline: auto;
  }
  &__text {
    font-size: 5rem;
    line-height: 7.5rem;
    text-align: center;
    width: 80%;
    margin-inline: auto;
  }
  &__search-input {
    border-radius: 0.25rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 0.0625rem solid;
    background-color: #3b3939;
    font-size: 1.5rem;
    line-height: 32px;
    margin-inline: auto;
    display: block;
    width: 80%;
  }
}
.feature {
  padding: 30px;
  &__container {
    column-gap: 24px;
    row-gap: 48px;
    width: 80%;
    margin-inline: auto;
    padding-left: 0;
    list-style: none;
    margin-block: 0;
    display: flex;
    flex-wrap: wrap;
    > * {
      // __container직속자식들 지칭
      flex-basis: 0;
      // 자기체구와 상관없이 균등분배가 됨
      flex-grow: 1;
      // 메모 나중에 제대로 된 사이즈ㅡ 확정할것
      min-width: 400px;
    }
    // 플렉스를 적용을한다 플렉스 칠드런한테 어떻게 들어가냐면
    // 가능한 최대한 작아진다 적용을 할게 두가지가 있다
  }
}

.card {
  display: flex;
  gap: 1.875rem;
  padding-top: 48px;
  &__area {
    &-left {
    }
    &-right {
    }
    &__img {
      max-width: 80px;
    }
    &__tile {
    }
    &__desc {
    }
    &__more {
    }
  }
}
