*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

p {
  margin-block: 0;
}
.grid {
  display: grid;
  max-width: 960px;
  padding-inline: 1.5rem;
  background-color: oklch(0.95 0 0);
  margin-inline: auto;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.text {
  animation-name: reveal;
  // animation-duration: 1000ms;
  animation-timeline: view();
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
